name: Upvote

on:
  pull_request: 
    types: [labeled]

jobs:
  new_issue:
    
      if: ${{ github.event.label.name == 'Upvote - Course Automation' && if github.ref == 'refs/heads/2021' }}
      runs-on: ubuntu-latest
      name: Create an issue if none exist
      steps:
        - uses: nickderobertis/check-if-issue-exists-action@master
          name: Check if Issue Exists
          id: check_if_issue_exists
          with:
            repo: dmariel/devops-course
            token: ${{ secrets.GITHUB_TOKEN }}
            title: Upvote projects - Course Automation
        - name: Create Issue    
          if: steps.check_if_issue_exists.outputs.exists == 'false'
          uses: JasonEtco/create-an-issue@master
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          id: issue
          if: steps.check_if_issue_exists.outputs.exists == 'true'
          uses: JasonEtco/create-an-issue@master
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          update_existing: true
          id: issue
  add_comment:
      steps: 
        - name: Create comment
          uses: peter-evans/create-or-update-comment@v1
          with:
            issue-number: ${{ new_issue.build.steps.issue.outputs.number}}
            body: |
              ${{ github.event.pull_request.title }}
              ${{ github.event.path }}


